<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title of the document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/iCheck/icheck.js"></script>
  <link rel="stylesheet" href="bower_components/iCheck/skins/square/green.css">
  
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
<!-- jquery, moment, and angular have to get included before fullcalendar -->
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
  
  <script>
  $(document).ready(function(){
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-green',
      radioClass: 'iradio_square-green',
      increaseArea: '20%' // optional
    });
  });
  
  var app = angular.module('App', ['ui.calendar']);
  
  app.controller('MyController', function($scope) {
    /* config object */
    $scope.uiConfig = {
      calendar:{
        height: 450,
        editable: true,
        header:{
          left: 'month basicWeek basicDay agendaWeek agendaDay',
          center: 'title',
          right: 'today prev,next'
        }
      }
    };
    
    $scope.test = function () {
      console.log($scope.testCalendar);
    };
});
  </script>
</head>

<body ng-app="App">
  <div class="container-fluid" ng-controller="MyController">
    <div class="row">
      <div class="col-sm-4">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="col-sm-4">
        <label>
          <input type="checkbox" name="quux[1]" disabled>
          Foo
        </label>

        <label for="baz[1]">Bar</label>
        <input type="radio" name="quux[2]" id="baz[1]" checked>

        <label for="baz[2]">Bar</label>
        <input type="radio" name="quux[2]" id="baz[2]">
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3> 
        <p>Lorem ipsum dolor..</p>
        <p ng-if="true"><i class="fa fa-usb"></i> Ut enim ad..</p>
        
        <p><button ng-click="test()">hey</button></p>
        
        <div ui-calendar="uiConfig.calendar" calendar="testCalendar" ng-model="eventSources">
      </div>
    </div>
  </div>
</body>

</html>


